:root {
  --ligth: #e0eae0;
  --redish: #c92667;
  --blue: #02022e;
}
button {
  padding: 15px;
  margin: 2px;
  appearance: none;
  outline: none;
  transition: 0.4;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: aqua;
  flex: 1 1 33.333%;
  max-width: 1 1 33.333%;
}
button:hover {
  opacity: 0.6;
  background-color: var(--ligth);
}
.buttonContainer {
  overflow: hidden;
}
.divContainer {
  display: flex;
  width: 175px;
  height: 350px;
  background-color: var(--blue);
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 1px 0.2px 6px 0.01px;
  margin: 0px 16px;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputContainer {
  max-height: max-content;
  background-color: var(--redish);
  color: var(--ligth);
  text-overflow: ellipsis;
  border-radius: 5px;
}
.operationsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
